<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        #login {
            position: relative;
            padding: 10px 30px;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: 25px;
            margin-right: 0rem;
            margin-top: 1rem;
        }

        .btn {
            position: relative;
            padding: 10px 40px;
            margin-bottom: 1rem;
            border: 2px solid transparent;
            border-radius: 25px;
            margin-right: 0rem;
            margin-top: 1rem;
        }

        #login {
            padding: 0rem;
        }

        .dd {
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript">
        function preventBack() {

            window.history.forward();
        }

        setTimeout("preventBack()", 0);

        window.onunload = function () { null };
    </script>
    <script>


        function profile() {

            var id = document.getElementById("u").value;
            $.ajax({
                url: 'https://localhost:44394/api/managerr',
                method: 'GET',

                success: function (pw1) {

                    data = [];
                    for (var i = 0; i < pw1.length; i++) {

                        if (pw1[i].ManagerId == id) {
                            var tt = document.getElementsByClassName("dd");
                            $(".dd").show();
                            alert(pw1[i].email);
                            var s = pw1[i].Name;
                            var a = pw1[i].SSN;
                            var b = pw1[i].DOB;
                            var g = pw1[i].Gender;
                            var f = pw1[i].mobile;
                            var h = pw1[i].email;
                            document.getElementById("name").innerText = s;
                            document.getElementById("ssn").innerText = a;
                            document.getElementById("dob").innerText = b;
                            document.getElementById("gender").innerText = g;
                            document.getElementById("mobile").innerText = f;
                            document.getElementById("email").innerText = h;


                        }
                    }








                },
                error: function () {
                    alert("Error fetching data from API1");
                }
            });


        }




        function back() {

            var id = document.getElementById("u").value;


            window.location.href = '/Plane/mgr?id=' + id;

        }

    </script>
</head>
<body>

    <div style="height:10%; width:100%;background-color:#537887; height:10%; margin-top:0%;text-align:center;font-size:40px;color: white">
        <img src="~/images/logoplane.png" width="120" height="50" class="d-inline-block align-text-top">
        GSRD Airport
        <input type="button" style="position:absolute;right:14%;" class="btn btn-primary" value="LogOut1"  onclick="window.location.href = '/FliteManager/Logout2';" />
        <input type="button" style="position:absolute;right:5%;" class="btn btn-primary" value="Menu" onclick="back()" />
   
        <a > <img src="~/images/user.jpg" width="70px" height="50px" style="border-radius:50%;position:absolute;right:0%;padding-top:2px;" onclick="window.location.href='/manager/ManagerDetails'" /></a>
    </div>
    <div style="height:10%; width:100%;background-color:aliceblue; margin-top:0%;text-align:center;font-size:30px;color: white">
        <button type="reset" id="login" class="alert alert-success" role="alert" data-bs-toggle="tooltip" data-bs-placement="top" style="background-color:white"></button>
    </div>

    <div>
        <h2> Welecome, @Session["user"]</h2>
        <input type="hidden" id="u" value="@Session["user"]" />

        @RenderBody()


    </div>

</body>
</html>
