
@{
    ViewBag.Title = "About";
}

<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script>src = 'https://kit.fontawesome.com/a076d05399.js' crossorigin = 'anonymous'</script>
<style>
    .card {
        margin-left: 15%;
        display: inline-block
    }

    p.inset {
        border-style: inset;
        word-spacing: 450px;
        background-color: antiquewhite;
    }
</style>
<div>
    <img src="~/images/Back.jpg" style="width:100%;height:780px; color:crimson;font-family:'Lucida Sans Unicode';text-align:center;font-size:30px;text-shadow:inherit">

</div>


<div style="position:absolute;color:white;top:25%;font-size:60px;left:42%;margin-bottom:30%;bottom:50%;">About</div>
<div style="position: absolute; color: white; top: 14%; font-size: 30px; left: 0%; margin-bottom: 25%; bottom: 50%;">
    <img src="~/images/sticker-R.png" style="height:60px;width:80px;top:50px;" />	GSRD |
</div>
<div style="position: absolute; color: white; top: 19%; font-size: 17px; left: 10%; margin-bottom: 10%; bottom: 100%;"> Airport </div>
<div style="position: absolute; color: white; top: 88%; font-size: 25px; left: 2%; margin-bottom: 10%; bottom: 50%;">Let Your Dreams Take fly </div>
<div style="position: absolute; color: white; top: 21%; font-size: 15px; left: 2%; margin-bottom: 10%; bottom: 50%;">&#9990;call us: +91 7635985549 / 903685745</div>
<div style="position: absolute; color: white; top: 15%; font-size: 30px; left: 92%; margin-bottom: 10%; bottom: 50%;">	☁	&#x1F50E;&#xFE0E; ☰</div>

<style>

    #box1 a {
        height: 20px;
        width: 20px;
        margin-right: 15px;
    }

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
    }

    #box1 {
        margin-top: 68%;
        border: groove;
        background-color: bisque;
        height: 25%;
        display: flex;
        justify-content: center;
        margin-left: 5px;
    }
</style>
@using (Html.BeginForm())
{

    <div style="width:100%;height:100px; color:crimson;font-family:'Lucida Sans Unicode';font-size:20px;text-shadow:inherit;margin-left:00px; border:revert-layer">
        <p class="inset" style="margin-left:10px;"> OurPhilosopy   Mission Vission  Values </p>
        <div style="padding: 10px; border: groove;">
            <p style="font-size: 20px; color: brown; margin-top: 30px;">Our Philosophy</p>
            <p style="color:darkblue">
                <h6 style="color:darkblue">GSRD Group Vision</h6>
            <p style="color: darkblue; font-size: 15px;">To be a world class leader in businesses that enrich lives and contribute to nations in building infrastructure through sustainable value creation.</p>

            <h6 style="color:darkblue">GSRD Airports Purpose</h6>
            <p style="color: darkblue; font-size: 15px;">
                We will be the most admired, trendsetting Airport enterprise creating lifestyle destinations for communities to experience the world, while delivering sustainable value for all stakeholders.
            </p>
        </div>
        <div style="padding:20px;border:groove">
            <p style="font-size:20px;color:brown;margin-top:30px;">Mission</p>
            <p style="color:darkblue;margin-top:20px;font-size:15px;">  Our Company’s greatest strength is delivering excellence in everything we do to make Adani Airports the most admired and trendsetting airport experience.</p>
        </div>
        <div style="padding:20px;border:groove">
            <p style="font-size:20px;color:brown;margin-top:30px;">Vission</p>
            <p style="color: darkblue; margin-top: 20px; font-size: 15px;">  Our Company’s greatest strength is delivering excellence in everything we do to make Adani Airports the most admired and trendsetting airport experience.</p>
        </div>
        <div style="padding:20px;border:groove;font-size:15px;">
            <p style="font-size:20px;color:brown;margin-top:30px;">Values</p>
            <p style="color:darkblue;margin-top:20px;">
                <b style="color:darkblue;margin-top:20px;">Commitment</b>
            <p style="color:darkblue;margin-top:20px;">We shall stand by our promises and adhere to high standards of business </p>

            <b style="color:darkblue;margin-top:20px;">
                Trust
            </b>
            <p style="color:darkblue;margin-top:20px;font-size:20px;">
                We shall believe in our employees and other stakeholders.
            </p>
            <b style="color:darkblue;margin-top:20px;">
                Courage
            </b>
            <p style="color: darkblue; margin-top: 20px; font-size: 20px;">
                We shall embrace new ideas and businesses.
            </p>
            <b style="color: darkblue; margin-top: 20px;">
                Humility
            </b>
            <p style="color: darkblue; margin-top: 20px; font-size: 20px;">
                We shall serve all our stakeholders with a genuine sense of gratitude for providing us an opportunity to engage with them.
            </p>
            <b style="color: darkblue; margin-top: 20px;">
                Safety and Security
            </b>
            <p style="color: darkblue; margin-top: 20px; font-size: 20px;">
                We shall ensure the highest standards of safety and security for all our stakeholders at all times.
            </p>
            <b style="color: darkblue; margin-top: 20px;">
                Creativity
            </b>
            <p style="color: darkblue; margin-top: 20px; font-size: 20px;">
                We shall always look for new ways of creating value for all our stakeholders, reinforcing our purpose of being a trendsetter.
            </p>
        </div>
    </div>

}
<div id="box1" class="card">
    <a href="#" class="fa fa-facebook" style="padding:10px;"></a>
    <a href="#" class="fa fa-twitter" style="padding:10px;"></a>
    <a href="#" class="fa fa-instagram" style="padding:10px;"></a>
    <a href="#" class="fa fa-linkedin" style="padding:10px;"></a>
</div>
