
@{
    ViewBag.Title = "Services";
}

<div>
    <img src="~/images/animiiii.gif" style="width:100%;height:300px; background-color:wheat;font-family:'Lucida Sans Unicode';text-align:center;font-size:30px;text-shadow:inherit">
</div>
<div style="position: absolute; color:black; top: 10%; font-size: 30px; left: 0%; margin-bottom: 25%; bottom: 50%;">
     <img src="~/images/sticker-R.png" style="height: 60px; width: 80px; top: 20%;" />	GSRD Airport|
</div>

<div style="position: absolute; color:black; top: 15%; font-size: 17px; left: 14%; margin-bottom: 10%; bottom: 100%;"> Let your dreams take fly </div>
<div style="position: absolute; color: black; top: 18%; font-size: 15px; left: 2%; margin-bottom: 10%; bottom: 50%;">&#9990;call us: +91 7635985549 / 903685745</div>

<div style="position: absolute; color: black; top: 13%; font-size: 30px; left: 92%; margin-bottom: 10%; bottom: 50%;">	☁	&#x1F50E;&#xFE0E; ☰</div>
<div style="position:absolute;color:black;top:30%;font-size:60px;left:42%;">Our Services</div>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
    /*.a {
        
        background-image: url('../../images/flite6.jpg');
        width:97%;
        background-size:cover;
    }*/

    #boxes {
        /*background-image: url('../../images/flite7.jpg');*/
        background-image: url('../../images/flite6.jpg');
        display: flex;
        justify-content: space-between;
        background-size: cover;
    }
      
    /*  .c {
        display: inline-block;
        background-image: url('../../images/kk.jpg');
    }

    .d {
        display: inline-block;
        background-image: url('../../images/ff.jpg');
    }*/

    #box {
        margin-top: 0%;
        width:97%;
        background-size:cover;
    }



    #box1 {
        margin-top: 1%;
        border: groove;
        background-color: bisque;
        height: 35%;
        display: flex;
        justify-content: center;
    }

        #box1 a {
            height: 20px;
            width: 20px;
            margin-right: 15px;
        }

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 50%;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }

    .fa-linkedin {
        background: #007bb5;
        color: white;
    }

    #P {
        color: white;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #footer{
        position:absolute;
        left:41.5%;
        top:92%;
    }
</style>
@using (Html.BeginForm())
{

    <div id="boxes">
        <div class="a" id="box" style="padding:5%;margin-left:0%;">

            <h2 class="card-title" style="color:white">Meet and Greet</h2>
            <p id="P">
                • Arrival Meet And Greet
            </p>
            <p id="P">
                • Departure Meet And Greet
            </p>
            <p id="P">
                • Transfer/Transit Meet And Greet
            </p>
            <p id="P">
                • Fast-track security and immigration
            </p>
        </div>
        <div class="b" id="box" style="padding:5%;">
            <h2 class="card-title" id="P"> Airport Lounge Service</h2>
            <p id="P">
                • Book Online using our hassle-free booking engine
            </p>
            <p id="P">
                • Receive your confirmation upon booking
            </p>
            <p id="P">
                •  Meet the representative upon arrival of the lounges
            </p>
            <p id="P">
                • Enjoy your access to the lounge
            </p>
        </div>
        <div class="c" id="box" style="padding:5%;">
            <h2 class="card-title" id="P">Airport Transfer Service</h2>
            <p id="P">
                • Hassle-free online booking
            <p id="P">
                • Receive your confirmation upon booking
            </p>
            <p id="P">
                • Meet the driver upon arrival at your destination
            </p>
            <p id="P">
                •Enjoy the ride!
            </p>
        </div>
    </div>
    <div id="footer">
        <a href="#" class="fa fa-facebook" style="padding:10px;"></a>
        <a href="#" class="fa fa-twitter" style="padding:10px;"></a>
        <a href="#" class="fa fa-instagram" style="padding:10px;"></a>
        <a href="#" class="fa fa-linkedin" style="padding:10px;"></a>

    </div>

}

